@{
    ViewBag.Title = "Collections - Autumn/Winter 2014";
}

@section featured{
<body class="classic">
    <link rel="stylesheet" type="text/css" href="../../Scripts/Slideshow/Bespoke/style.css" />
    <link rel="stylesheet" type="text/css" href="../../Scripts/Slideshow/Bespoke/themes.css" />
    <script type="text/javascript">
        $(window).load(function () {
            $("#navBar").css("height", $("html").height());

            var gWidth = $("#main").width() - parseInt($("#gallery").css("marginLeft"));
            $("#gallery").css("width", gWidth);

            adjustGallery();
        });

        $(window).resize(function () {
            $("#navBar").css("height", $("html").height());

            adjustGallery();
        });

        function adjustGallery() {
            var center = (parseInt($("#gallery").css("width")) - parseInt($("#firstImg").css("width"))) * 1 / 3;
            $("#firstImg").css("left", center);

            $('.classic section.bespoke-before').css("-webkit-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * -3).toString() + "px, 0, 0)");
            $('.classic section.bespoke-before').css("-moz-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * -3).toString() + "px, 0, 0)");
            $('.classic section.bespoke-before').css("-ms-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * -3).toString() + "px, 0, 0)");
            $('.classic section.bespoke-before').css("-o-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * -3).toString() + "px, 0, 0)");
            $('.classic section.bespoke-before').css("transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * -3).toString() + "px, 0, 0)");
            $('.classic section.bespoke-before-2').css("-webkit-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * -2).toString() + "px, 0, 0)");
            $('.classic section.bespoke-before-2').css("-moz-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * -2).toString() + "px, 0, 0)");
            $('.classic section.bespoke-before-2').css("-ms-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * -2).toString() + "px, 0, 0)");
            $('.classic section.bespoke-before-2').css("-o-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * -2).toString() + "px, 0, 0)");
            $('.classic section.bespoke-before-2').css("transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * -2).toString() + "px, 0, 0)");
            $('.classic section.bespoke-before-1').css("-webkit-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * -1).toString() + "px, 0, 0)");
            $('.classic section.bespoke-before-1').css("-moz-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * -1).toString() + "px, 0, 0)");
            $('.classic section.bespoke-before-1').css("-ms-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * -1).toString() + "px, 0, 0)");
            $('.classic section.bespoke-before-1').css("-o-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * -1).toString() + "px, 0, 0)");
            $('.classic section.bespoke-before-1').css("transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * -1).toString() + "px, 0, 0)");
            $('.classic section.bespoke-after').css("-webkit-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * 3).toString() + "px, 0, 0)");
            $('.classic section.bespoke-after').css("-moz-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * 3).toString() + "px, 0, 0)");
            $('.classic section.bespoke-after').css("-ms-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * 3).toString() + "px, 0, 0)");
            $('.classic section.bespoke-after').css("-o-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * 3).toString() + "px, 0, 0)");
            $('.classic section.bespoke-after').css("transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * 3).toString() + "px, 0, 0)");
            $('.classic section.bespoke-after-2').css("-webkit-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * 2).toString() + "px, 0, 0)");
            $('.classic section.bespoke-after-2').css("-moz-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * 2).toString() + "px, 0, 0)");
            $('.classic section.bespoke-after-2').css("-ms-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * 2).toString() + "px, 0, 0)");
            $('.classic section.bespoke-after-2').css("-o-transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * 2).toString() + "px, 0, 0)");
            $('.classic section.bespoke-after-2').css("transform", "translate3d(" + (parseInt($("#firstImg").css("width")) * 2).toString() + "px, 0, 0)");
            $('.classic section.bespoke-after-1').css("-webkit-transform", "translate3d(" + (parseInt($("#firstImg").css("width"))).toString() + "px, 0, 0)");
            $('.classic section.bespoke-after-1').css("-moz-transform", "translate3d(" + (parseInt($("#firstImg").css("width"))).toString() + "px, 0, 0)");
            $('.classic section.bespoke-after-1').css("-ms-transform", "translate3d(" + (parseInt($("#firstImg").css("width"))).toString() + "px, 0, 0)");
            $('.classic section.bespoke-after-1').css("-o-transform", "translate3d(" + (parseInt($("#firstImg").css("width"))).toString() + "px, 0, 0)");
            $('.classic section.bespoke-after-1').css("transform", "translate3d(" + (parseInt($("#firstImg").css("width"))).toString() + "px, 0, 0)");
        }
    </script>
    <div id="main" style=" width:100%; height:100%;">
        <article id="gallery" style="margin-left:264px;" >
            <section id="firstSlide"><img id="firstImg" src="../../Content/Images/LaurenImages/Slideshow/Collections/aw2014/Viscous Catalogue/Gown 1.jpg" /></section>
            <section><img src="../../Content/Images/LaurenImages/Slideshow/Collections/aw2014/Viscous Catalogue/Gown 2.jpg" /></section>
            <section><img src="../../Content/Images/LaurenImages/Slideshow/Collections/aw2014/Viscous Catalogue/Gown 3.jpg" /></section>
            <section><img src="../../Content/Images/LaurenImages/Slideshow/Collections/aw2014/Viscous Catalogue/Gown 4.jpg" /></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
        </article>
    </div>
    <script src="../../Scripts/Slideshow/Bespoke/src/bespoke.js"></script>
    <script src="../../Scripts/Slideshow/Bespoke/src/actual.js"></script>
</body>
}
