@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@section featured{
<section id="contentSection" class="contact">
    <script type="text/javascript">
        $(window).load(function () {
            $("#navBar").css("height", $("html").height())
        });
    </script>
    <div>
        <table>
            <tr style="height:150px"></tr>
            <tr>
                <td style="width:4%"></td>
                <td style="width:430px">
                    <img src="../../Content/Images/LaurenImages/Contact/Hats.jpg" alt="" style="margin-bottom: 25px; margin-top: 25px; margin-left:8px; border:10px solid #282828" />
                </td>
                <td>
                    <p style="font-size:24px; font-family: 'Palatino Linotype'; float: left">For Questions, Comments, Sales Inquiries, or Press, please contact&nbsp;</p><a href="mailto:LDiBartolomeo@LaurenLucia.com" style="font-size:28px;">LDiBartolomeo@LaurenLucia.com</a>
                </td>
                <td style="width:2%"></td>
            </tr>
            <tr></tr>
        </table>
    </div>
</section>
}