<!DOCTYPE html>
<head>
</head>
@{
        ViewBag.Title = "Home Page";
}

    @section featured {
        <section>

            <link rel="stylesheet" href="../../Scripts/Slideshow/themes/default/default.css" type="text/css" media="screen" />
            <link rel="stylesheet" href="../../Scripts/Slideshow/nivo-slider.css" type="text/css" />
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
            <script src="../../Scripts/Slideshow/jquery.nivo.slider.js" type="text/javascript"></script>
            <script type="text/javascript">
                $(window).load(function () {
                    $('#slider').nivoSlider();
                });
            </script>
            <div id="wrapper" >
                <div class="theme-default">
                    <div id="slider" class="nivoSlider">
                        <img src="../../Content/Images/LaurenImages/Slideshow/Dashboard/slide1.jpg" alt="" />
                        <img src="../../Content/Images/LaurenImages/Slideshow/Dashboard/slide2.jpg" alt="" />
                        <img src="../../Content/Images/LaurenImages/Slideshow/Dashboard/slide3.jpg" alt="" />
                        <img src="../../Content/Images/LaurenImages/Slideshow/Dashboard/slide4.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="featured">
                <table style="width:97%;">
                    <tr style="height: 50px; width:100%;">
                        <td style="width:1%;"></td>
                        <td style=" border-bottom: 1px solid #333333;"></td>
                        <td style=" border-bottom: 1px solid #333333;"></td>
                    </tr>
                    <tr style="height: 200px; width: 100%;">
                        <td style="width:1%;"></td>
                        <td style=" border-bottom: 1px solid #333333;">             
                        <img src="../../Content/Images/LaurenImages/AboutPhoto.JPG" alt="" style="margin-bottom: 25px; margin-top: 25px; margin-left:8px; border:8px solid #282828"/>
                                      
                        </td>
                        <td style=" border-bottom: 1px solid #333333;"><p style="font-size:24px; font-family: 'Palatino Linotype'; float: left">Inspired at an early age by her grandmother’s work as a master tailor, Lauren DiBartolomeo developed a passion for the intricacy of sewing and turning fabric into a wearable work of art. </p>
                            <br /><br /><br /><br /><br /><br /><br /><br /><br />                          
                        <a href="About.cshtml">Read More</a></td>
                    </tr>
                    <tr style="height:50px;"></tr>
                </table>
            </div>
</section>
        }
