/* Classic Theme */
.classic {
    width: 100%;
}
.classic .arrow:hover {
	background: rgb(243, 111, 86);
}
.classic a {
	color: rgb(243, 111, 86);
}
.classic section.bespoke-before {
	-webkit-transform: translate3d(-1770px, 0, 0);
	-moz-transform: translate3d(-1770px, 0, 0);
	-ms-transform: translate3d(-1770px, 0, 0);
	-o-transform: translate3d(-1770px, 0, 0);
	transform: translate3d(-1770px, 0, 0);
}
.classic section.bespoke-before-2 {
	-webkit-transform: translate3d(-1180px, 0, 0);
	-moz-transform: translate3d(-1180px, 0, 0);
	-ms-transform: translate3d(-1180px, 0, 0);
	-o-transform: translate3d(-1180px, 0, 0);
	transform: translate3d(-1180px, 0, 0);
	opacity: 0.3;
}
.classic section.bespoke-before-1 {
	-webkit-transform: translate3d(-590px, 0, 0);
	-moz-transform: translate3d(-590px, 0, 0);
	-ms-transform: translate3d(-590px, 0, 0);
	-o-transform: translate3d(-590px, 0, 0);
	transform: translate3d(-590px, 0, 0);
	opacity: 0.3;
}
.classic section.bespoke-after {
	-webkit-transform: translate3d(1770px, 0, 0);
	-moz-transform: translate3d(1770px, 0, 0);
	-ms-transform: translate3d(1770px, 0, 0);
	-o-transform: translate3d(1770px, 0, 0);
	transform: translate3d(1770px, 0, 0);
}
.classic section.bespoke-after-2 {
	-webkit-transform: translate3d(1180px, 0, 0);
	-moz-transform: translate3d(1180px, 0, 0);
	-ms-transform: translate3d(1180px, 0, 0);
	-o-transform: translate3d(1180px, 0, 0);
	transform: translate3d(1180px, 0, 0);
	opacity: 0.3;
}
.classic section.bespoke-after-1 {
	-webkit-transform: translate3d(590px, 0, 0);
	-moz-transform: translate3d(590px, 0, 0);
	-ms-transform: translate3d(590px, 0, 0);
	-o-transform: translate3d(590px, 0, 0);
	transform: translate3d(590px, 0, 0);
	opacity: 0.3;
}

.classic img{
    height: 100%;
    width: auto;
}

.classic .bespoke-directionNav a{
    position:absolute;
	display:block;
	width:30px;
	height:30px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
    z-index:3;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.classic:hover .bespoke-directionNav a{
    opacity: 1;
    cursor:pointer;
}

.classic a.bespoke-nextNav {
	background-position:-30px 0;
    top: 50%;
	right:25%;
}
.classic a.bespoke-prevNav {
    background-position:6px 0;
    top: 50%;
	right: 50%;
}