/* Classic Theme */
.classic {
    width: 100%;
}
.classic .arrow:hover {
	background: rgb(243, 111, 86);
}
.classic a {
	color: rgb(243, 111, 86);
}
.classic section.bespoke-before {
	-webkit-transform: translate3d(-1920px, 0, 0);
	-moz-transform: translate3d(-1920px, 0, 0);
	-ms-transform: translate3d(-1920px, 0, 0);
	-o-transform: translate3d(-1920px, 0, 0);
	transform: translate3d(-1920px, 0, 0);
}
.classic section.bespoke-before-2 {
	-webkit-transform: translate3d(-1280px, 0, 0);
	-moz-transform: translate3d(-1280px, 0, 0);
	-ms-transform: translate3d(-1280px, 0, 0);
	-o-transform: translate3d(-1280px, 0, 0);
	transform: translate3d(-1280px, 0, 0);
	opacity: 0.3;
}
.classic section.bespoke-before-1 {
	-webkit-transform: translate3d(-640px, 0, 0);
	-moz-transform: translate3d(-640px, 0, 0);
	-ms-transform: translate3d(-640px, 0, 0);
	-o-transform: translate3d(-640px, 0, 0);
	transform: translate3d(-640px, 0, 0);
	opacity: 0.3;
}
.classic section.bespoke-after {
	-webkit-transform: translate3d(1920px, 0, 0);
	-moz-transform: translate3d(1920px, 0, 0);
	-ms-transform: translate3d(1920px, 0, 0);
	-o-transform: translate3d(1920px, 0, 0);
	transform: translate3d(1920px, 0, 0);
}
.classic section.bespoke-after-2 {
	-webkit-transform: translate3d(1280px, 0, 0);
	-moz-transform: translate3d(1280px, 0, 0);
	-ms-transform: translate3d(1280px, 0, 0);
	-o-transform: translate3d(1280px, 0, 0);
	transform: translate3d(1280px, 0, 0);
	opacity: 0.3;
}
.classic section.bespoke-after-1 {
	-webkit-transform: translate3d(640px, 0, 0);
	-moz-transform: translate3d(640px, 0, 0);
	-ms-transform: translate3d(640px, 0, 0);
	-o-transform: translate3d(640px, 0, 0);
	transform: translate3d(640px, 0, 0);
	opacity: 0.3;
}

.classic img{
    height: 100%;
    width: auto;

}